@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

.customfile::-webkit-file-upload-button {
  background: #f48fb1;
  color: white;
  width: 134px;
  height: 36px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
